body {
  margin: 0;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

header > div > h1 {
  font-family: 'Kalam', Arial, Helvetica, sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  color: rgb(49, 49, 49);
}

header > div > h2 {
  font-size: 18px;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
}

header > div {
  padding: 26px 42px 0px 22px;
  line-height: 31px;
}

.left-nav {
  display: flex;
  flex-direction: row;
  margin-left: 3px;
  margin-top: 3px;
}

.left-nav img:first-of-type {
  margin-left: 5px;
}

.left-nav img {
  width: 32px;
  margin-top: 2px;
  margin-right: 12px;
  transition: transform 2.8s;
}

.left-nav img:hover {
  transform: rotate3d(2, 2, 2, 360deg);
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 12px 52px 52px;
  overflow: hidden;
  position: absolute;
  width: 500px;
  top: 0;
  right: 0;
}

.Portfolio:hover {
  color: rgb(50, 113, 207) !important;
}

.About:hover {
  color: rgb(189, 50, 207) !important;
}

.Contact:hover {
  color: rgb(50, 207, 181) !important;
}

hr {
  width: 80px;
  height: 2px;
  background-color: rgb(204, 204, 204);
  border: none;
}

section > h2 {
  letter-spacing: 1px;
  text-align: center;
}

.intro-section {
  margin-bottom: 100px;
}

.intro-text {
  margin-top: 50px;
  text-align: center;
  font-size: 26px;
  color: black;
  letter-spacing: 1px;
}

.intro-text > span {
  font-size: 15px;
  font-weight: bold;
}

.intro-text > span > span {
  transition: font-style 1s;
}

.intro-text > span > span:hover {
  font-style: italic;
}

.intro-text > p {
  color: rgb(20, 20, 20);
  text-transform: uppercase;
  font-size: 32px;
  transform: scaleY(1.2);
  font-weight: bold;
  line-height: 38px;
}

.right-arrow-img {
  transform: rotate(-27deg);
  text-align: right;
  margin-top: 180px;
  z-index: 1;
}

.right-arrow-img > img {
  width: 210px;
}

.code-icons {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  padding: 24px;
}

.code-icons > img {
  width: 60px;
  margin-right: 60px;
}

.express {
  width: 100px !important;
  height: 30.2px !important;
}

.portfolio-section {
  margin-top: 110px;
}

.portfolio-section hr {
  width: 125px;
  margin-bottom: 12px;
}

.portfolio-section > h2,
.about-section > h2,
.contact-section > h2 {
  text-align: center;
  font-size: 49px;
  letter-spacing: 1px;
}

.portfolio-section h3 {
  font-size: 49px;
  margin: 0;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  padding: 0;
  display: inline;
  line-height: 0px;
  text-transform: lowercase;
  font-family: 'Andika New Basic', 'Arial Narrow', Arial, sans-serif;
}

.first-product h3 {
  color: rgb(85, 145, 236);
}

.second-product h3 {
  color: rgb(206, 70, 224);
}

.third-product h3 {
  color: rgb(50, 207, 181);
}

.portfolio-section p {
  font-size: 18px;
  font-weight: bold;
  color: rgb(58, 58, 58);
  text-align: left;
  width: 390px;
  margin: auto;
  padding: 10px 0px;
  letter-spacing: 1px;
}

.product-summary {
  font-size: 16px;
  width: 390px;
  margin: auto;
  letter-spacing: 2px;
  color: rgb(112, 112, 112);
  font-weight: bold;
  text-align: left;
}

.product-bottom-text {
  color: rgb(104, 104, 104);
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.first-product {
  margin-top: 120px;
}

.first-product,
.third-product {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 140px;
  margin-right: 65px;
}

.second-product {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 140px;
  margin-left: 45px;
}

.third-product {
  margin-bottom: 80px;
}

.background-box {
  z-index: -1;
  position: absolute;
  height: 525px;
  width: 590px;
  transform: translate(-20%, -9%);
  background-color: rgb(245, 245, 245);
  background-image: linear-gradient(to left, rgb(247, 247, 247), white);
  border-radius: 8px;
}

.background-box-second {
  z-index: -1;
  position: absolute;
  height: 510px;
  width: 590px;
  transform: translate(-12%, -8%);
  background-image: linear-gradient(to right, rgb(247, 247, 247), white);
  border-radius: 8px;
}

.background-box-third {
  z-index: -1;
  position: absolute;
  height: 525px;
  width: 590px;
  transform: translate(-20%, -9%);
  background-image: linear-gradient(to left, rgb(247, 247, 247), white);
  border-radius: 8px;
}

.product-tag {
  color: rgb(112, 112, 112);
  font-weight: 600;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 0;
}

.product-github {
  font-weight: bold;
  color: rgb(51, 51, 51);
}

.product-github a {
  text-decoration: none;
}

.product-github img {
  width: 38px;
  transition: transform 0.2s;
}

.product-github img:hover {
  transform: scale(1.1);
}

.first-product-img img {
  width: 780px;
  border-radius: 6px;
}

.second-product-img img {
  width: 725px;
  border-radius: 6px;
}

.third-product-img img {
  width: 578px;
}

.first-product-info {
  color: rgb(0, 0, 0);
}

.second-product-info {
  margin-right: 66px;
}

.text-hr {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

.bot-hr {
  width: 145px !important;
  margin-top: 3px !important;
}

.product-languages > span {
  border: 2px rgb(195, 195, 195) solid;
  padding: 3px;
  margin-right: 3px;
  border-radius: 6px;
  font-weight: bold;
  color: rgb(92, 92, 92);
  transition: border 0.8s;
}

.product-languages span:hover {
  color: rgb(49, 49, 49);
  border: 2px rgb(73, 73, 73) solid;
}

.more-projects-button {
  text-align: center;
  margin-bottom: 120px;
}

.more-projects-button > a:hover {
  text-decoration: underline;
  color: rgb(45, 190, 166);
}

.more-projects-button > a {
  font-size: 41px;
  font-weight: bold;
  letter-spacing: 2px;

  transition: color 1s;
  color: rgb(109, 109, 109);
}

.about-section {
  font-size: 24px;
  margin-bottom: 80px;
  margin: auto;
  width: 1000px;
}

.about-section-text {
  display: flex;
  justify-content: space-around;
}

.about-section p {
  width: 450px;
  margin-top: 80px;
  text-align: left;
  padding: 0;
  margin-bottom: 0;
}

.about-section-resume a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(45, 190, 166);
}

.contact-section {
  font-size: 23px;
  font-weight: bold;
}

.contact-section-info {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.contact-section-info > div {
  align-self: stretch;
  margin-right: 40px;
  margin-top: 80px;
  width: 400px;
}

.contact-section-info span {
  transition: color 1s;
}

.contact-section-info span:hover {
  color: rgb(45, 190, 166);
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  padding: 30px;
  border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
  padding: 8px;
  border-radius: 6px;
  border: grey 2px solid;
  margin-bottom: 20px;
  width: 250px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  color: grey;
}

.contact-form input {
  height: 20px;
  vertical-align: 0px;
}

.contact-form textarea {
  vertical-align: -48px;
}

form button {
  padding: 11px 27px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 23px;
  font-family: 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
  background-color: white;
  border: 3px rgb(189, 50, 207) solid;
  color: rgb(189, 50, 207);
  cursor: pointer;
  margin-bottom: 1px;
  transition: transform 0.4s;
}

form button:active {
  transform: scale(0.9);
}

form button:hover {
  border: 3px rgb(50, 113, 207) solid;
  color: rgb(50, 113, 207);
  transform: scale(0.9);
}

.button-wrapper {
  text-align: center;
}

footer {
  padding: 1px;
  background-color: rgb(241, 241, 241);
  margin-top: 80px;
  text-align: center;
  color: rgb(50, 113, 207);
  font-weight: bold;
  font-size: 14px;
}

footer a {
  color: black;
}

.blue {
  color: rgb(50, 113, 207);
}

.bg-blue {
  background-color: rgb(50, 113, 207);
}

.violet {
  color: rgb(189, 50, 207);
}

.bg-violet {
  background-color: rgb(189, 50, 207);
}

.teal {
  color: rgb(45, 190, 166);
}

.bg-teal {
  background-color: rgb(45, 190, 166);
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(144, 144, 144);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(50, 207, 181);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 300px;
  margin: -81px -10px 0 0;
  padding: 50px;
  right: 0%;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
  letter-spacing: 1px;
  border: rgb(255, 255, 255) 2px solid;
  border-radius: 6px;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
}

#menu a:hover {
  border: rgb(241, 241, 241) 2px solid;
  border-radius: 6px;
  padding: 2px;
  text-decoration: line-through;
  box-shadow: 2px 7px 22px rgb(224, 224, 224);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

hr.rainbow {
  border: none;
  height: 5px;
  width: 155px;
  margin: auto;
  transform: rotate(-3deg);
  background-image: -webkit-linear-gradient(
    left,
    rgb(50, 113, 207),
    rgb(189, 50, 207),
    rgb(50, 207, 181)
  );
  background-image: -moz-linear-gradient(
    left,
    rgb(50, 113, 207),
    rgb(189, 50, 207),
    rgb(50, 207, 181)
  );
  background-image: -ms-linear-gradient(
    left,
    rgb(50, 113, 207),
    rgb(189, 50, 207),
    rgb(50, 207, 181)
  );
  background-image: -o-linear-gradient(
    left,
    rgb(50, 113, 207),
    rgb(189, 50, 207),
    rgb(50, 207, 181)
  );
}

.fade {
  animation: fadeIn;
  animation-duration: 1.3s;
}

.delay {
  animation: fadeIn;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media all and (max-width: 1290px) {
  .background-box,
  .background-box-second,
  .background-box-third {
    display: none;
  }
  .first-product-img img,
  .second-product-img img {
    width: 100%;
  }

  .third-product-img img {
    width: 75%;
  }

  .code-icons {
    justify-content: space-evenly;
  }

  .code-icons > img {
    margin-right: 0;
  }
}

@media all and (max-width: 1000px) {
  .first-product {
    margin-right: 0;
    padding: 20px;
  }
  .second-product {
    margin-left: 0;
    padding: 20px;
  }
  .about-section {
    width: 96%;
  }
  .about-section-text {
    flex-direction: column;
    align-items: center;
  }

  .about-section-text > div:nth-of-type(2) > p {
    margin-top: 0;
    padding-top: 0;
  }
}

@media all and (max-width: 875px) {
  .first-product,
  .second-product,
  .third-product {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .second-product {
    margin-bottom: 100px;
  }

  .third-product {
    margin: auto;
  }

  .second-product-info {
    margin-right: 0;
  }

  .contact-section-info {
    flex-direction: column;
    align-items: center;
  }

  .code-icons {
    background-color: white;
  }

  .right-nav {
    height: 500px;
    width: 150px;
  }

  #menu {
    background-color: white;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100px;
    margin: -45px -60px 0 0px;
    padding: 50px;
    height: 90px;
    right: 0%;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    opacity: 0.91;
    border-radius: 36px;
  }
}

@media all and (max-width: 500px) {
  .first-product,
  .second-product,
  .third-product {
    flex-direction: column;
  }

  .contact-section-info {
    flex-direction: column;
    margin-right: 0px;
  }

  .code-icons img {
    width: 14%;
  }

  .express {
    width: 26% !important;
    height: 26% !important;
  }

  .about-section p {
    width: 96%;
  }
}

@media all and (max-width: 400px) {
  .portfolio-section p {
    width: 96%;
  }

  .product-summary {
    width: 96%;
  }

  .contact-form {
    padding: 0;
  }

  .right-nav {
    padding: 12px 8px 0px 0px;
  }

  header > div > h1 {
    font-size: 28px;
  }

  header > div > h2 {
    font-size: 18px;
  }

  header > div > nav {
    font-size: 14px;
  }

  header > div > nav > a {
    text-decoration: underline;
    text-decoration-color: rgb(50, 113, 207);
    text-decoration-thickness: 2px;
  }

  header > div {
    padding: 8px 0px 0px 8px;
    line-height: 31px;
  }
}
